{% extends "base.html" %}

{% block title %}
Home
{% endblock %}
{% include "partials/navbar.html" %}


{% block content %}

<style>
a{
    text-decoration: none;
    color: cornflowerblue;
}

</style>

<main class="jumbotron ">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <h1 class="text-center">FLASK 🐍</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam odio laborum cumque at nostrum aut
                    nemo
                    illo odit suscipit quae minima minus distinctio nobis recusandae dicta facere, vero, esse sunt.</p>
            </div>
            <div class="col-3 text-center">

                <button class="btn rounded-pill btn-outline-secondary m-3" type="submit">
                    <a href="">COSMOS</a>
                </button>

            </div>
        </div>
    </div>
</main>

<main>


    <div class="container-fluid m-5">
        <div class="row justify-content-center">
            <div class="col-2">
                <div class="card text-body text-center bg-dark">
                    <h1><a href="">Sloth</a></h1>
                    <h4>🦥</h4>
                </div>
            </div>

            <div class="col-2">
                <div class="card text-body text-center bg-dark">
                    <h1><a href="">Froggy</a></h1>
                    <h4>🐸</h4>
                </div>
            </div>

            <div class="col-2">
                <div class="card text-body text-center bg-dark">
                    <h1><a href="">Squirrel</a></h1>
                    <h4>🐿️</h4>
                </div>
            </div>

            <div class="col-2">
                <div class="card text-body text-center bg-dark">
                    <h1><a href="">Duky</a></h1>
                    <h4>🦆</h4>
                </div>
            </div>

        </div>
    </div>

</main>


{% endblock %}